.row {
    display: flex;
    flex-direction:  row;
}

.col-75 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-25 {
    flex: 0 0 25%;
    max-width: 25%;
}

.rel-col-75 {
    flex-basis: 75%;
}

.rel-col-25 {
    flex-basis: 25%;
}

.border {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.height {
    height: 400px;
}

.overflow-auto {
    overflow: auto;
}

.input-group {
    display: flex;
}

.form-control {
    flex: 1;
}

.input-group-append {
    display: flex;
    align-items: stretch;
    margin-left: -1px;
}

.btn {
    border-radius: 0;
}

.btn-outline-secondary {
    white-space: nowrap;
    border-color: #ccc;
}

.text-center {
    text-align: center;
}

.list-group-flush {
    list-style: none;
    padding: 0;
}

.add-message {
    margin-bottom: 1rem;
}

.chat-area {
    overflow: auto;
}

.chat-individual {
    margin-bottom: 0.5rem;
}

.input-group {
    width: 100%;
    /* margin-top: 20px; */
}

.form-control {
    height: 40px;
    margin: auto;
    font-size: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: #7843e6;
    padding-left: 10px;
}

.room-id {
    font-size: 100%;
}

.row button {
    width: 80px;
    height: 50px;
    /* margin: auto; */
    margin-left: 5px;
    color: whitesmoke;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    background-color: #7843e6;
    border: 3px solid whitesmoke;
    transition: transform 0.3s ease;
}

.row button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    font-weight: bold;
}

.chat-window {
    border: 1px solid #7843e6;
    margin-top: 1rem;
    padding: 1rem;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
}

.chat-individual {
    display: flex;
}

.chat-oneself {
    color: #7843e6;
    text-shadow: whitesmoke;
    font-size: 100%;
    font-weight: bold;
    align-self: flex-start;
}

.chat-others {
    color: rgb(41, 41, 41);
    text-shadow: whitesmoke;
    font-size: 95%;
    font-weight: bold;
    align-self: flex-start;
}

.chat-window::-webkit-scrollbar {
    width: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.chat-window::-webkit-scrollbar-thumb {
    background-color: #7843e6;
    border-radius: 10px;
}

.chat-window::-webkit-scrollbar-thumb:hover {
    background-color: #6843e6;
}

.chat-window::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-radius: 10px;
}
