.OptionArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
}

.Option {
    margin: auto;
    width: 200px;
    height: 30px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    background-color: #7843e6;
}

.Option select {
    width: 60%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    color: whitesmoke;
    background-color: #7843e6;
    border: none;
    outline: none;
}



.Option input {
    height: 80%;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    color: whitesmoke;
    background-color: #7843e6;
    border: none;
    text-align: right;
    outline: none;
}

input::-webkit-inner-spin-button{
    appearance: none;
}