.SelectArea {
  display: flex;
  margin: auto;
}

#SearchForm {
  flex: 1;
  margin: 10px;
  height: 50px;
}

#SearchForm input {
  margin-right: 10px;
  width: 63%;
  height: 90%;
  font-size: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;  
}
  
#SearchForm button {
  height: 100%;
  margin-right: 10px;
  width: 10%;
  font-size: 100%;
  font-weight: bold;
  background-color: #FFE180 ;
  border: 3px solid whitesmoke;
  color: black;
  border-radius: 5px;
}

#SearchForm button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#SearchForm .OptionButton {
  height: 100%;
  margin-right: 10px;
  width: 10%;
  font-size: 100%;
  color: white;
  background-color: gray;
  border: 3px solid whitesmoke;
  border-radius: 5px;
}

#SearchForm .OptionButton:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}