.SignUpMain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpContent {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30%;
    height: 90%;
}

.SignUpContent form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignUpBox input {
    width: 60%;
    height: 40px;
    margin-top: 10px
}

.SignUpContent button {
    width: 61%;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
    border: none;
}

.SignUpContent .Submit {
    background-color: #0A62D0;
    color: whitesmoke;
}

.SignUpContent .SignIn {
    background-color: #7843e6;
    color: whitesmoke;
}

.SignUpContent .Cancel {
    background-color: red;
    color: whitesmoke;
}