@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}

.App {
  text-align: center;
  background-color: #E0E5E9;
}

.Logo {
  height: 1000px;
  background-image: url('../public/PlayQRound.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

h1 {
  /* -webkit-text-stroke: 0.005px black; */
  color: #0A62D0;
  background-color: #F2F2F2;
  font-size: 60px;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Logo {
  height: 100px;
}

.Main {
  /* border: 1px solid black; */
  display: flex;
  height: 800px;
}

.Area1 {
  width: 85%;
  height: 100%;
  /* border: 1px solid black; */
}


.Area2 {
  width: 15%;
  height: 100%;
  /* border: 1px solid black; */
  background-color: #FFE180;
}