@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
}

.App {
  text-align: center;
  background-color: #E0E5E9;
}

h1 {
  /* -webkit-text-stroke: 0.005px black; */
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Logo {
  height: 100px;
}

.Main {
  border: 1px solid black;
  display: flex;
  height: 800px;
}

.Area1 {
  width: 85%;
  height: 100%;
  border: 1px solid black;
}


.Area2 {
  width: 15%;
  height: 100%;
  border: 1px solid black;
}